// TODO Allot of these are shared between multiple panels
@layer system {
	.uo.application {
		.panel-menu {
			position: absolute;
			top: 10%;
			left: 100%;
			z-index: -1;

			width: 0px;
			opacity: 0%;

			overflow: hidden;

			transition: var(--uo-transition-fast);
			transform-origin: center left;

			.btn {
				display: flex;
				position: relative;

				width: 0px;
				height: 36px;

				cursor: pointer;
				align-items: center;
				justify-content: center;

				color: var(--dh-color-gold);

				transition: var(--uo-transition-fast);
				transform-origin: center left;

				background: rgba(11, 10, 19, 0.9);
				border-top: 1px solid var(--dh-color-gold);
				border-right: 1px solid var(--dh-color-gold);
				border-bottom: 1px solid var(--dh-color-gold);
				border-radius: 0 var(--uo-border-radius-large) var(--uo-border-radius-large) 0;

				box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

				i {
					font-size: var(--uo-font-size-sm);
				}

				&:hover {
					width: 46px;

					color: var(--dh-color-off-black);
					background: var(--dh-color-gold);

					box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
				}
				&:active {
					i {
						font-size: var(--uo-font-size-xs);
					}
				}
			}
		}

		.panel-menu.show {
			width: 54px;
			opacity: 100%;

			.btn {
				width: 40px;
			}
		}
	}

	.uo.application {
		.panel-content {
			position: absolute;
			top: 10%;
			left: 100%;
			height: 80%;
			z-index: -2;

			width: 0px;
			opacity: 0%;

			display: flex;
			overflow: hidden;
			flex-direction: column;

			transition: var(--uo-transition-fast);
			transform-origin: center left;

			background: var(--uo-bg-darker);
			backdrop-filter: var(--uo-extended-blur);

			box-shadow: var(--uo-panel-shadow);
			border-left: var(--uo-panel-border);

			border-radius: 0 var(--uo-border-radius-large) var(--uo-border-radius-large) 0;
		}
		.panel-content.show {
			width: 320px;
			opacity: 100%;
		}
	}
}

@layer system {
	.uo .panel-content {
		.header {
			display: flex;
			overflow: hidden;
			align-items: center;
			justify-content: space-between;

			gap: var(--uo-space-sm);
			margin: 2px;
			padding: 0 var(--uo-space-md);
			min-height: var(--header-height);

			color: var(--color-light-1);

			backdrop-filter: var(--uo-minimal-blur);
			background-color: var(--uo-bg-darker);

			border-radius: var(--uo-border-radius-large) var(--uo-border-radius-large) 0 0;
			border-bottom: 1px solid var(--uo-border-dark);
		}

		.header button {
			margin: 0;
			border: none;
			line-height: normal;

			color: var(--color-light-1);
		}

		.content {
			display: flex;
			height: 100%;
			overflow: hidden;
			flex-direction: column;

			gap: var(--uo-space-lg);
			margin: 2px;
			padding: var(--uo-space-md);
		}

		.content .spacer {
			height: 5px;
			min-height: 5px;

			hr {
				margin: 4px;
				height: 1px;
				min-height: 1px;
				background-image: linear-gradient(
					90deg,
					transparent 0%,
					var(--uo-border-dark) 40%,
					var(--uo-border-dark) 60%,
					transparent 100%
				);
			}
		}

		.content .color-dot {
			margin: auto;

			border-radius: 50%;

			width: var(--uo-size-xs);
			height: var(--uo-size-xs);
		}

		.content .button-dot {
			margin: auto;

			max-width: var(--uo-size-md);
			max-height: var(--uo-size-md);

			padding-top: 1px;
			border-radius: 50%;
			border: 1px solid var(--uo-border-input-dark);
		}
	}
}

@layer system {
	.uo .tracker-list {
		display: flex;
		flex-direction: column;

		gap: var(--uo-space-md);
		padding: var(--uo-space-lg) var(--uo-space-sm);

		.item {
			display: flex;
			position: relative;

			border-radius: 50%;

			width: var(--uo-size-lg);
			height: var(--uo-size-lg);

			align-items: center;
			justify-content: center;

			cursor: pointer;
			user-select: none;

			color: var(--uo-text);
			font-size: var(--uo-font-size-lg);
			font-weight: var(--uo-font-weight-lg);

			transition: var(--uo-transition-fast);
			box-shadow: var(--uo-node-item-shadow);
			text-shadow: var(--uo-node-value-shadow);

			&:hover {
				transform: scale(1.05);
				color: var(--uo-text-hover);
			}
			&:active {
				transform: scale(0.95);
			}
		}
	}
}
