/* Application V2 - Base */
@layer system {
	*,
	*::after,
	*::before {
		box-sizing: border-box;
	}

	.uo {
		color: var(--uo-text);

		border: none;
		outline: none;
		background: none;

		overflow: unset;
		perspective: 9999px;

		box-shadow: none;
		backdrop-filter: none;

		img,
		input {
			border: none;
			outline: none;
			background: none;

			transition: unset;

			box-shadow: none;
			backdrop-filter: none;

			&:hover,
			&:focus,
			&:active {
				border: none;
				outline: none;
				background: none;
				box-shadow: none;
				backdrop-filter: none;
			}

			&:after,
			&:before {
				border: none;
				outline: none;
				background: none;
				box-shadow: none;
				backdrop-filter: none;
			}
		}

		button {
			color: var(--uo-text);
			border: 1px solid var(--uo-border-input-dark);

			&:hover,
			&:focus,
			&:active {
				color: var(--uo-text-hover);
				border: 1px solid var(--uo-border-input-dark);
				outline: none;
			}
		}

		.no-click {
			pointer-events: none;
		}

		.text-center {
			text-align: center;
		}
	}
}

/* Application V2 - Base Inputs */
@layer system {
	.uo button {
		align-self: center;
		justify-self: center;

		gap: var(--uo-space-sm);

		min-width: var(--uo-size-md);
		min-height: var(--uo-size-md);

		border-radius: var(--uo-border-radius);
	}

	.uo input {
		height: var(--uo-size-md);
		min-height: var(--uo-size-md);
		padding-top: 2px;
		padding-left: var(--uo-space-md);
		padding-right: var(--uo-space-md);

		border-radius: var(--uo-border-radius);
		border: 1px solid var(--uo-border-input-dark);
		background-color: var(--uo-bg-input);

		font-size: var(--uo-font-size-sm);
		letter-spacing: 0.5px;
		color: var(--uo-text);

		transition: all 240ms ease;

		&:hover {
			border: 1px solid var(--uo-border-invisible);
			background: var(--uo-bg-input-focus);
		}

		&:focus,
		&:active {
			border: 1px solid var(--uo-border-darker);
			background: var(--uo-bg-input-focus);
		}

		&::placeholder {
			color: var(--uo-text-darker);
		}
	}

	.uo input[type='checkbox'] {
		width: var(--uo-size-md);
		height: var(--uo-size-md);
		margin: 0;
		padding: 0;

		&::after,
		&::before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;

			display: flex;
			align-items: center;
			justify-content: center;

			pointer-events: none;

			color: var(--uo-text);
			font-size: var(--uo-font-size-sm);
			font-weight: var(--uo-font-weight-lg);
		}

		&:checked {
			border: 1px solid var(--uo-border-darker);
			background: var(--uo-bg-input-focus);

			&::after {
				content: '✓';

				width: 100%;
				height: 100%;
			}
		}
	}

	.uo .shift-right {
		margin-left: auto !important;
		margin-right: 0 !important;
	}

	.uo .in-dual {
		display: flex;
		overflow: hidden;
		align-items: center;

		gap: 0;
		height: var(--uo-size-md);
		padding-left: var(--uo-space-md);
		padding-right: var(--uo-space-md);

		border-radius: var(--uo-border-radius);
		border: 1px solid var(--uo-border-input-dark);
		background-color: var(--uo-bg-input);

		transition: var(--uo-transition-fast);

		&:hover {
			border: 1px solid var(--uo-border-invisible);
			background: var(--uo-bg-input-focus);
		}

		input {
			border: none;
			padding-left: 0;
			padding-right: 0;

			text-align: center;
			background-color: transparent;
		}

		.separator {
			min-width: 12px;
			text-align: center;
			color: var(--uo-text-darker);
		}
	}

	// Note: Abuse overflow to
	// get a nice color selector
	.uo .wrap-color {
		position: relative;

		display: flex;
		overflow: hidden;
		align-items: center;
		justify-items: center;

		width: 100%;
		height: var(--uo-size-md);
		padding: 0;

		border-radius: var(--uo-border-radius);
		border: 1px solid var(--uo-border-input-dark);

		transition: all 240ms ease;

		&:hover {
			border: 1px solid var(--uo-border-invisible);
			background: var(--uo-bg-input-focus);
		}

		input[type='color'] {
			position: absolute;
			top: -8px;
			left: -4px;
			right: -4px;
			bottom: -8px;

			cursor: pointer;

			width: unset;
			height: unset;
			border: unset;
			outline: unset;

			min-width: none;
			max-width: unset;

			padding: 0;
		}
	}
}

/* Application V2 - Base Cards */
@layer system {
	.uo {
		.card-alt,
		.card-base {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 10;

			padding-top: 4px;

			display: flex;
			flex-direction: column;

			transition: all 120ms ease-in-out;

			border: var(--uo-app-border);
			box-shadow: var(--uo-app-shadow);

			backdrop-filter: var(--uo-extended-blur);
			background-color: var(--uo-bg-darker);

			border-radius: var(--uo-border-radius-large);
		}
	}
}

/* Application V2 - Prosemirror Editor */
@layer system {
	.uo .editor {
		box-shadow: unset;
		background: unset;

		color: var(--uo-text);

		border-radius: var(--uo-border-radius);
		background-color: var(--uo-bg-input);
		border: 1px solid var(--uo-border-input-dark);

		menu {
			background-color: var(--uo-bg-overlay);

			.active {
				color: var(--uo-bg-accent-dark);

				&:hover {
					color: var(--uo-text-accent);
				}

				&:focus,
				&:active {
					color: var(--uo-bg-accent-darker);
				}
			}
		}

		button {
			outline: none;
			box-shadow: none;
			color: var(--uo-text-dark);
			transition: all 240ms ease;
			border: 1px solid var(--uo-border-invisible);
			background: var(--uo-bg-input);

			&:hover {
				color: var(--uo-text);
				border: 1px solid var(--uo-border-darker);
				background: var(--uo-bg-input-focus);
			}

			&:focus,
			&:active {
				color: var(--uo-text-darker);
				border: 1px solid var(--uo-border-darker);
				background: var(--uo-bg-input-fade);
			}
		}

		.toggle {
			top: 6px;
			right: 6px;
		}

		.cm-editor,
		.cm-scroller,
		.cm-activeLine,
		.cm-activeLineGutter,
		code-mirror {
			box-shadow: unset;
			background: unset;
		}

		.cm-gutters {
			color: var(--uo-text-darker);
			background: var(--uo-bg-overlay);
		}

		.cm-line,
		.cm-active,
		.editor-content {
			color: var(--uo-text);
			background: unset;
			padding: 0.75em;
		}

		.cm-content {
			color: var(--uo-text);
			background: var(--uo-bg-input-fade);
		}
	}

	.uo {
		.content-link {
			margin: 1em;
			color: var(--uo-text-accent);

			background: rgba(243, 194, 103, 0.1);
			border-radius: var(--uo-border-radius);
			border: 1px solid rgba(243, 194, 103, 0.2);

			i {
				color: var(--uo-text-accent);
			}
		}
	}

	#prosemirror-dropdown ul {
		font-size: var(--uo-font-size-sm);
		letter-spacing: 0.5px;
		color: var(--uo-text);

		padding-left: var(--uo-space-lg);
		padding-right: var(--uo-space-lg);

		background-color: var(--uo-bg-input);
		border-radius: var(--uo-border-radius);
		border: 1px solid var(--uo-border-input-dark);
	}
}
